body{
    background: url("/img/bg.jpg");
}

.main{
    background-color: #ffffff;
    margin: 30px 100px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 38px;
    height: 38px;
}

.desc-text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.navbar-brand img{
    width: 30px;
    height: 30px;
}

.profile-list{
    margin-top: 15px;
}

.question-desc{
    font-size: 12px;
    color: #999;
}

.media-heading{
    font-size: 20px;
    color: #0f0f0f;
    cursor: pointer;
}

.comment-head-img{
    margin-bottom: 10px;
}

.comment-content-box{
    margin: 10px 0;
}

.btn-comment-submit{
    margin-bottom: 15px;
    float: right;
}