body{
    background: url("/images/bg.jpg");
}

.main{
    background-color: #ffffff;
    margin: 30px 100px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 38px;
    height: 38px;
}

.desc-text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.navbar-brand img{
    width: 30px;
    height: 30px;
}

.profile-list{
    margin-top: 15px;
}

.question-desc{
    font-size: 12px;
    color: #999;
}

.media-heading{
    font-size: 20px;
    color: #0f0f0f;
    cursor: pointer;
    text-decoration: none;
}

.comment-head-img{
    margin-bottom: 0;
}

.comment-content-box{
    margin-bottom: 10px;
}

.btn-comment-submit{
    margin-bottom: 15px;
    float: right;
}

.hr1{
    margin-top: 5px;
}

.hr2{
    margin-bottom: 5px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.menu {
    color: #999;
    margin-top: 15px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.question-tag{
    font-size: 13px;
    margin-right: 5px;
}

.relatedQuestion-ul{
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    font-size: 15px;
    cursor: pointer;
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
