<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>G社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list"></span> 发现</h2>
            <hr>
            <div class="media" th:each="question : ${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" th:src="${question.user.avatarUrl}" src="https://github.githubassets.com/favicon.ico" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="" th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="desc-text"><span th:text="${question.commentCount}"></span> 个评论 • <span th:text="${question.viewCount}"></span> 次浏览 • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
            <!--分页按钮-->
            <nav aria-label="Page navigation" th:if="${pagination.totalPage > 0}">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/" th:href="@{/(page=${1})}" aria-label="First">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a href="#" th:href="@{/(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <li th:each="pageNum : ${pagination.pages}" th:class="${pageNum eq pagination.page} ? 'active' : '' ">
                        <a href="#" th:href="@{/(page=${pageNum})}" th:text="${pageNum}">1</a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a href="#" th:href="@{/(page=${pagination.page + 1})}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a href="#" th:href="@{/(page=${pagination.totalPage})}" aria-label="End">
                            <span aria-hidden="true">末页</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--分页按钮-->
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>
</body>
</html>